/* #region reset css */
*,
*:before,
*:after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
input,
select,
textarea {
	background-color: transparent;
	outline: none;
}
button {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: 0;
}

body {
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
}
/* #endregion reset css */

/* #region other */
strong {
	font-weight: bold;
}

.break-line {
	white-space: break-spaces;
}

.center-scr {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quiz-container {
	width: 100%;
	max-width: 750px;
}

.question {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	min-height: 100px;
	min-width: 300px;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.home-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.question-more-info {
	margin-top: 10px;
	padding: 0 20px;
}

.question em {
	padding-left: 8px;
}

.settings {
	padding-top: 16px;
	padding-left: 24px;
	padding-right: 24px;
}

/* #endregion other */

/* #region option item */
.option-item {
	cursor: pointer;
	width: 100%;
	max-width: 300px;
	min-height: 60px;
	padding: 0 10px;
	border-radius: 8px;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
		rgba(17, 17, 26, 0.1) 0px 0px 8px;
	transition: all 0.3s;
}

.option-item.error {
	border: 1px solid rgb(241, 78, 78);
	box-shadow: rgba(255, 0, 0, 0.2) 0px 1px 0px, rgba(255, 0, 0, 0.3) 0px 0px 8px;
}

.option-item.selected {
	background-color: #46a758;
	color: white;
}

.option-item.selected-wrong {
	background-color: #f58b8b;
	color: white;
}

.option-item.no-select:hover {
	background-color: rgba(2, 179, 2, 0.079);
	color: rgba(0, 99, 22, 0.84);
}

/* #endregion option item */

/* #region score */
.score {
	position: absolute;
	right: 13px;
	text-shadow: none;
}

.score-correct {
	color: green;
	font-size: 16px;
}

.score-wrong {
	color: red;
	font-size: 16px;
}

.total-score p {
	font-family: Satisfy, cursive;
	font-size: 25px;
	line-height: 1;
	font-weight: 700;
	color: SandyBrown;
	text-shadow: 0.02em 0.02em 0 Brown, 0 0 0.5em violet;
}

/* #endregion score */

/* #region category */
.category-list {
	padding: 20px;
}

.category-list-wrapper {
	overflow: auto;
	padding: 15px;
}

.category-list h2 {
	font-weight: 700;
	padding-bottom: 20px;
}

.category-item {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 150px;
	padding: 20px;
	color: black;
	border-radius: 10px;
	cursor: pointer;
}

.category-item h3 {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

/* #endregion category */

/* #region button */
.button {
	width: 100%;
	max-width: 300px;
	height: 40px;
}

.quit-button {
	position: fixed;
	right: 20px;
	top: 20px;
}

.next-button {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.skip-button {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

/* #endregion button */
